html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  background-color: #E0E0C9 !important;
}

a {
  color: #e0e0c9 !important;
  text-decoration: none !important;
  font-size: 2rem;
  text-shadow: 0 0 10px #162234;
}

a:hover{
  color: #e5a1a7 !important;
}

a:visited{
  color: #162234;
  text-shadow: 0 0 5px #E0E0C9;
}

* {
  box-sizing: border-box;
}


label{
  font-size: .7rem;
  text-align: left;
}

input{
  padding: 5px 10px;
  border: 1px solid #162234;
  border-radius: 5px;
}



