html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #E0E0C9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


