/* :root{
  --primarycolor: #E0E0C9;
  --secondcolor: #E1A5A7;
  --thirdcolor: #162234;
} */
.ashAbout{
  font-size: 1.8rem;
  width: 40%;
}

.ashMembers{
  background-color: #E1A5A7;
  color: #162234;
  display: flex;
  justify-content: center;
  text-align: center;
}

.creditPage{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.creditForm{
  display: flex;
  flex-direction: column;
  color: #162234;
  border: 2px solid #162234;
  padding: 1.5rem;
  border-radius: 5%;
  text-align: center;
}

.leftCheckout{
  max-width: 50%;
  border-right: 5px solid #162234;
}

.btn{
  background-color: #162234;
  border: none;
  border-radius: 10px;
  padding: .8rem;
  margin-top: 2rem;
  color: #e0e0c9;
  width: 100%;
}

.btn:hover {
  transform: scale(1.1);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nftCollection{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #162234;
}

.nftStart{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.nftColumn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.nft{
  background-color: #162234;
  text-align: center;
  color: #e0e0c9; 
  margin: 1.8rem; 
  border-radius: 15%;
}

.nft img{
  border-radius: 15%;
}

.payment{
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  position: sticky;
}

.footer {
  background-color: #E1A5A7;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .ashAbout{
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.9rem;
  }
  .topPics{
    display: none;
  }
  .leftCheckout{
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
