/* :root{
  --primarycolor: #E0E0C9;
  --secondcolor: #E1A5A7;
  --thirdcolor: #162234;
} */
.ashAbout{
  font-size: 1.8rem;
  text-align: center;
  margin: 0 20%;
}

.ashMembers{
  background-color:rgba(224, 163, 165, .3);
  color: #162234;
  position: relative;
}

.benefits{
  background: url('../assets/blob.svg');
  width: 100%;
  aspect-ratio: 960/540;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefitsContent{
  height: 50vh;
  padding: 2rem 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: rgba(22, 34, 52, .5);
  color:#e0e0c9;
  text-align: center;
}

.creditPage{
  background: url('../assets/fullwavecheckout.svg');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 960/540;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.creditForm{
  display: flex;
  flex-direction: column;
  color: #162234;
  border: 2px solid #162234;
  padding: 1.5rem;
  border-radius: 5%;
  text-align: center;
}

.leftCheckout{
  text-align: center;
  max-width: 50%;
  padding: 100px;
  border-right: 5px solid #162234;
}

.btn{
  background-color: #162234;
  border: none;
  border-radius: 10px;
  padding: .8rem;
  margin-top: 2rem;
  color: #e0e0c9;
  width: 100%;
}

.btn:hover, .buyBtn:hover {
  transform: scale(1.1);
}

.buyBtn { 
  background-color: rgba(0, 0, 0, 0);
  color: #e0e0c9;
  border:1px solid #e0e0c9;
  padding: 7px 15px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.main {
  min-height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nftCollection{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #162234;
  margin-top: 2rem;
}

.nftStart{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.nftColumn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.nft{
  background-color: #162234;
  text-align: center;
  color: #e0e0c9; 
  margin: 1.8rem; 
  border-radius: 15%;
  box-shadow: 0 10px 15px #162234;
}


.nftSold{
  position: relative;
  background-color: #162234;
  text-align: center;
  color: #e0e0c9; 
  margin: 1.8rem; 
  border-radius: 15%;
  box-shadow: 0 10px 15px #162234;
  z-index: 0;
}

.soldOut{
  position: absolute;
  top: 0;
  width: 100%;
  height: 380px;
  background: url('../assets/x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1119;
  z-index: 999;
  border-radius: 15%;
}

.nft img, .nftSold img{
  border-radius: 15%;
  z-index: 1;
}

.poly{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 960/540;
  background: url('../assets/polygrid.svg');
  background-size: cover;
}

.waves{
  width: 100%;
  aspect-ratio: 960/100;
  background: url('../assets/waves2.svg');
  background-size: cover;
  transform: rotateX(180deg);
  position: absolute;
  bottom: -6rem;
}

.waves2{
  width: 100%;
  aspect-ratio: 960/100;
  background: url('../assets/waves2.svg');
  background-size: cover;
  transform: rotateY(180deg);
  position: absolute;
  bottom: 10rem;
}

.ocean{
  background: url('../assets/wavy1.svg');
  aspect-ratio: 960/100;
  background-size: cover;
  animation-name: flows;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.footer {
  background-color: #162234;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea !important;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mobileLink{
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .ashMembers{
    display: flex;
  }
  .ashAbout{
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.9rem;
  }
  .topPics{
    display: none;
  }
  .leftCheckout{
    display: none;
  }
}

@media (max-width:450px) {
  .benefits{
    display: none;
    }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
